.App {
  text-align: center;
}

.Portfolio {
  width: 940px;
  margin: 0 auto;
}

img {
  width: 300px;
  margin-bottom: 10px;
}

.Images {
  width: 940px;
  display: inline-block;
  column-count: 3;
  gap: 0px;
  margin: 0 auto;
  padding: 10px;
}

.Toolbar {
  padding: 10px;
  text-align: left;
  margin-inline-start: 0px;
}

button {
  padding: 5px;
  margin: 3px;
  color: grey;
  background-color: white;
  border-radius: 0;
  border: 1px solid gray;
}

button:focus {
  background-color: gray;
  color: white;
  border: 0px;
}
